@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  letter-spacing: 0.15em;
  --fc-button-bg-color: #0c776d;
  --fc-button-border-color: hsla(0, 0%, 0%, 0.1);
  --fc-button-text-color: #fff9f3;
  /* --fc-border-color: black; */
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.radix-themes {
  --default-font-family: "satoshi", sans-serif;
  --heading-font-family: "satoshi", sans-serif;
  --code-font-family: "satoshi", sans-serif;
  --strong-font-family: "satoshi", sans-serif;
  --em-font-family: "satoshi", sans-serif;
  --quote-font-family: "satoshi", sans-serif;
}

/* body {
  cursor: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHiSURBVHgBnZNPKARRHMe/M1b5FyMkRYa08iftCsVlObqN2vvaGyeUM8tNKevkIoPz1u5eOIqDi4NNIdSiPThsahJLrazfb9Zqzc7anf3WNK/f7/0+7/ve+z0oQdWhBLcVlCgRAoIQyoJKWF1GCRLpkz1dfagqs/mUkKrCohiA9to6rA270FRROU2Qc9qWZAnAaqqswpJzjCEO2hZDZEuAbEh7Ta1MkKNiIKIxoEMGxzDU2FwURDQLVtvKsTgwgsnWDvlnO+OWABl57P1wy3aJnUyFdzyWASx3ZzdDkEoJu2a9UhCQgcz2OIAUfEZIUQCWq6WNbmg03XBhdSMTt8GCeusb9YZbPT+dp4aTyZG3aAcZZTWcwu8or4Pjp5j+XWnP//FkU8De3SVOqHiGDk4HkFUKP5hMjeQAAtEbHMaiGo8fX1+kXqmBIa6Q4t01W+zPGRzEogg83KZXTH1tEgiTbZ2cms73Qn8BbHWfrFPxQmjKG6KU/+0zqSU+k2AXwNd8XkD8PYH1izMuXqFiP8for7GLwP0t3B12QBDnzFzogK3rCBLJ5B4V+Qxpf/wjocU/3tmFZOZC5FWp0cM0zklmu9DPglwY5wgoIN22gHsasv0I3YYzZwv/Ke0CzvTNYMKY/wbFkbkplWkvNQAAAABJRU5ErkJggg==),
    auto;
}

.point {
  cursor: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJiSURBVHgBtZVfSFNRHMe/5255JZteDMlJ0V7soaxuq4fsRSsiKQiJQoigRULkixvERAucGFn2oL306qBHHzSjB1PQfNpTXV8Ck8GFgg3EuDgRttxdv9/dXDPG2h/7wRnn3N+Pz/n9PRPII2rAq6CmZpC2HqRSBq3XWt/IOIoUKe/XNNDbfLBBcdbWuSBJY+rI03ZUBCVn+eftrbvwtrZnLJMqKoRmxSFXZXZCQZHyT2g58l+g9qItJdGrvnoySJ0QhBAGdjoDGNL8z4NlQR2yrDTXN+Bz5IeHz9QZ2EzElUhsY0J92W/AtC7Qtf4XetHhd7WcwZsbt+F01PIFVmd0nz2fiUKagt22QOuLOjqglpXTA1XyrjNf5LvQZkVDx4k9KdT1Y8fRddINTg/lW7WnR3J/L+k6kYKGpDmECkVQkoOUk3scAiUdVFE9U1019NBXEqxnZpILSX1KQHfTYUzdeZBOvBAuZMa0XOGcaqvra+DVfa71T0UrgwpfLB5Hz/vJPQPbonNLeuPVtuXEdrJjPrxSfbSuHjdPnLKU7qYjpbDwYeUrIpsb6dnXHj+bRsp+MRZPGH0fZywle1yuZPtU8wc0BlM6jOHFWQtcqqz+XLNQu5q/EjDbcm2QSn6y/a2Mzi1GG69cmoUwO5b0sOKQq9FyyFkQyP3NTtADo2Of/MiWz8gCX7v8DqbZGfquK9S72YckV9iz+fA3cB3Wt7ZA9vepPiFRyAN1LODC9q8F2rr4zEOSC4xSpa2QeQJN4dP8w0HWFYRm4aMDHvCjLEmnaYxz/6uWCTENu31c8wWMnY+/AerW57cRGKW2AAAAAElFTkSuQmCC),
    auto;
} */

h1 {
  font-size: 1.35em;
  line-height: 2rem;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 1.15em;
  letter-spacing: 0.15em;
}

p {
  line-height: 1.5rem;
}

body {
  /* We should set some definitions for primary and secondary colors that are defined based off the colorContext and remove this. */
  font-family: "satoshi", sans-serif;
  font-weight: 700;
}

/* .ModalInnerContents::-webkit-scrollbar {
  width: 10px;
} */

textarea {
  resize: none;
}

.fc-button {
  box-shadow: 10px, 10px, 0px, #0a04c6;
  font-size: smaller;
  background-position: center;
}

.fc-prev-button .fv-next-button {
  max-width: 30px;
}

.fc-today-button {
  background-color: #0a04c6;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: peachpuff;
}

/* .fc-theme-standard
  .fc-scrollgrid
  .fc-scrollgrid-section
  .fc-scrollgrid-section-header { */
.fc .fc-daygrid-day-frame .fc-daygrid .fc-day {
  border: 2px solid #50b09f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8dad0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #d5cb2c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2c720;
}

.next-error-h1 {
  border-right: 1.5px solid rgba(166, 166, 70, 1) !important;
}

.custom-range {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 100%; /* Full width */
  height: 8px; /* Height of the track */
  background: #efe5db; /* Track color */
  border-radius: 5px; /* Rounded track */
}

/* Style the thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #50b09f; /* Thumb color */
  box-shadow: 3px 3px 0 rgba(210, 199, 32, 1);
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

.custom-range::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #50b09f; /* Thumb color */
  box-shadow: 3px 3px 0 rgba(210, 199, 32, 1);
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the track for Firefox */
.custom-range::-moz-range-track {
  background: #efe5db; /* Track color */
  height: 8px; /* Height of the track */
  border-radius: 5px; /* Rounded track */
}

/* HIGH CONTRAST SLIDER */

.custom-range.highContrast {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 100%; /* Full width */
  height: 8px; /* Height of the track */
  background: #efe5db; /* Track color */
  border-radius: 5px; /* Rounded track */
}

/* Style the thumb */
.custom-range.highContrast::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #0a04c6; /* Thumb color */
  box-shadow: 3px 3px 0 #4b89fc;
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

.custom-range.highContrast::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #0a04c6; /* Thumb color */
  box-shadow: 3px 3px 0 #4b89fc;
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the track for Firefox */
.custom-range.highContrast::-moz-range-track {
  background: #efe5db; /* Track color */
  height: 8px; /* Height of the track */
  border-radius: 5px; /* Rounded track */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rounded-4xl {
    border-radius: 3.5rem;
  }
  .tracking-extra-wide {
    letter-spacing: 0.2em;
  }
  .scrollbar-thumb-rounded-full {
    --scrollbar-thumb-radius: 9999px;
  }

  .fc-button {
    --fc-button-bg-color: green;
  }
}
