@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 48, 139, 123;
  --background-rgb: 248, 242, 236;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    @apply flex flex-col text-cream rounded-3xl m-3 px-6 py-2 tracking-wide;
  }
}
