@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  letter-spacing: 0.15em;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.radix-themes {
  --default-font-family: "satoshi", sans-serif;
  --heading-font-family: "satoshi", sans-serif;
  --code-font-family: "satoshi", sans-serif;
  --strong-font-family: "satoshi", sans-serif;
  --em-font-family: "satoshi", sans-serif;
  --quote-font-family: "satoshi", sans-serif;
}

h1 {
  font-size: 1.35em;
  line-height: 2rem;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 1.15em;
  letter-spacing: 0.15em;
}

p {
  line-height: 1.5rem;
}

body {
  /* We should set some definitions for primary and secondary colors that are defined based off the colorContext and remove this. */
  font-family: "satoshi", sans-serif;
  font-weight: 700;
}

/* .ModalInnerContents::-webkit-scrollbar {
  width: 10px;
} */

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8dad0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #d5cb2c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2c720;
}

.custom-range {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 100%; /* Full width */
  height: 8px; /* Height of the track */
  background: #efe5db; /* Track color */
  border-radius: 5px; /* Rounded track */
}

/* Style the thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #50b09f; /* Thumb color */
  box-shadow: 3px 3px 0 rgba(210, 199, 32, 1);
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

.custom-range::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #50b09f; /* Thumb color */
  box-shadow: 3px 3px 0 rgba(210, 199, 32, 1);
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the track for Firefox */
.custom-range::-moz-range-track {
  background: #efe5db; /* Track color */
  height: 8px; /* Height of the track */
  border-radius: 5px; /* Rounded track */
}

/* HIGH CONTRAST SLIDER */

.custom-range.highContrast {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 100%; /* Full width */
  height: 8px; /* Height of the track */
  background: #efe5db; /* Track color */
  border-radius: 5px; /* Rounded track */
}

/* Style the thumb */
.custom-range.highContrast::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #0a04c6; /* Thumb color */
  box-shadow: 3px 3px 0 #4b89fc;
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

.custom-range.highContrast::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #0a04c6; /* Thumb color */
  box-shadow: 3px 3px 0 #4b89fc;
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the track for Firefox */
.custom-range.highContrast::-moz-range-track {
  background: #efe5db; /* Track color */
  height: 8px; /* Height of the track */
  border-radius: 5px; /* Rounded track */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rounded-4xl {
    border-radius: 3.5rem;
  }
  .tracking-extra-wide {
    letter-spacing: 0.2em;
  }
  .scrollbar-thumb-rounded-full {
    --scrollbar-thumb-radius: 9999px;
  }
}
